@{
    konyv km = new konyv();
}
<form action="AddBook" method="post" enctype="multipart/form-data">
    <label>Name</label>  <input type="type" name="name" value="" required /> <br />
    <label>ISBNcode</label><input type="type" name="isbn" value="" required /> <br />
    <label>AUTH int only!!!!</label><input type="number" name="auth" value="0" required/> <br />
    <input type="file" accept="image/*" name="img" required/> <!-- all image types -->
    <input type="text" name="demo" />
    <input type="submit" name="btnSubmit" value="hozzáadás" />
</form>
