@{
    konyv km = new konyv();
    Writer[] wrt;
    Categories[] crt;
    using (book_vs19Entities1 bullshit = new book_vs19Entities1())
    {
        wrt = bullshit.Writer.ToArray();
        crt = bullshit.Categories.ToArray();
    }
}

<form action="CreateBook" method="post" enctype="multipart/form-data" class="text-white mx-3 py-3" onsubmit="return confirm( 'Biztos, hogy rögzíteni akarod?' );">
    
    <label class="col-6 h4"> Szerző </label>
    <br>
    <div class="autocomplete text-dark col-6">
        <input type="type" name="auth" value="" id="Szerzo" required placeholder="Széchenyi István" autocomplete="nope" />
    </div>
    @*<select name="auth">
            @foreach (var item in wrt)
            {
                <option value="@item.Id">@item.writer_name</option>
            }
        </select>*@
    <label class="col-6 h4">Cím</label> <br>  <input class="col-6" type="type" name="name" value="" required autocomplete="off" /> <br />
    <label class="col-6 h4">ISBNcode</label> <br>   <input class="col-6" type="type" name="isbn" value="" maxlength="13" required autocomplete="off" /> <br />
    <label class="col-6 h4">Beszerzés dátuma</label> <br>  <input class="col-6" type="date" name="date" value="" maxlength="10" autocomplete="off" /> <br />
    <label class="col-6 h4">Darabszám</label> <br>  <input class="col-6" type="number" name="quantity" value="1" required autocomplete="off" /> <br />
    @*<label>AUTH int only!!!!</label><input type="number" name="auth" value="0" required/> <br />*@
    @*<label>Boritó kép</label><input type="file" accept="image/*" name="img" required /> <br />  all image types
        <label>Összefoglaló</label><input type="text" name="demo" autocomplete="off" /> <br />*@
    <label class="col-6 h2">Kategoria</label>

    @*todo: change it to work like Szerzo then the popup a message contains every new data (writer,categoreies ) then create a list of categories*@
    <div class="autocomplete text-dark col-6">
        <input type="type" name="categori" value="" id="Categories" required placeholder="Country" autocomplete="nope" />
    </div>
    <input id="livesearchtags" name="livesearchtags" placeholder="Search" autocomplete="off" hidden />
    <div id="result" class="tag-results">


        <input type="submit" name="btnSubmit" value="hozzáadás" />
</form>
<script>
    var all_Writer = []
    @foreach (var item in wrt)
    {
        string varrrr = item.writer_name ;

       @:{ all_Writer.push("@varrrr.Trim()") };
    }
    var all_categories =[]
    @foreach (var item in crt)
    {
        string varrrr = item.Name;

       @:{ all_categories.push("@varrrr.Trim()") };
    }

    document.getElementById('livesearchtags').addEventListener('keyup', function (e) {
        //Run LiveSearch on ever key up
        //LiveSearch()
    });
    var returntext = "fds";
    function LiveSearch() {
        //Get the input value
        let value = document.getElementById('livesearchtags').value

        $.ajax({
            type: "POST",
            // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
            url: "/Default/LiveTagSearch",
            // Attach the value to a parameter called search
            data: { search: value },
            datatype: "html",
            success: function (data) {
                // Insert the returned search results html into the result element
                $('#result').html(data);
            }
        });
    }
    function returnString() {
        var vissza = all_Writer.Includes($("#Szerzo").value);
        vissza += all_Writer.Includes($("#Categories").value);
        returntext = vissza + 'Biztos, hogy rögzíteni akarod?';
    }
    function autocomplete(inp, arr) {
        console.log("fsdf")
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function (e) {
        var container, items, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false; }
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        container = document.createElement("DIV");
        container.setAttribute("id", this.id + "autocomplete-list");
        container.setAttribute("class", "autocomplete-items");



        container.classList.add("text-dark");
        container.classList.add("dropdown");
        container.classList.add("show");

        // Get the input field
        var inputField = $("#" + inp.id);

        // Get the vertical position of the input field relative to the bottom of the screen
        var windowHeight = $(window).height();
        var inputPosition = inputField.offset().top + inputField.outerHeight();
        var positionPercentage = ((windowHeight - inputPosition) / windowHeight) * 100;
        console.log(positionPercentage);

        //container.style.cssText = "top: " + 60 + "% ; width:auto;";
        /* checkMatchingBook();*/
        //getselectedBook(valu);
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(container);
        //document.appendChild(a);

        itemcontainer = document.createElement("ul");
        itemcontainer.setAttribute("class", "dropdown-menu show");
        container.appendChild(itemcontainer);
                //itemcontainer.setAttribute("aria-labelledby", inp.id + "-dropdown");
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                /*create a DIV element for each matching element:*/
                items = document.createElement("li");
                /*make the matching letters bold:*/
                items.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                items.innerHTML += arr[i].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                items.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                items.addEventListener("click", function (e) {
                    /*insert the value for the autocomplete text field:*/
                    inp.value = this.getElementsByTagName("input")[0].value;
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                itemcontainer.appendChild(items);
            }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function (e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
            }
            returnString();
        }
    });
    function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
        }
    }
    function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
            }
        }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
}



    autocomplete(document.getElementById("Szerzo"), all_Writer);
    autocomplete(document.getElementById("Categories"), all_categories);
</script>
