@{ 
    konyv km = new konyv();
}
<form action="AddBook" method="post">
    <label>Name</label>  <input type="type" name="name" value="" required/> <br />
    <label>ISBNcode</label><input type="type" name="isbn" value="" required/> <br />
    <label>AUTH int only!!!!</label><input type="number" name="auth" value="" /> <br />
    <input type="submit" name="btnSubmit" value="hozzáadás" />
</form>
