@{
    book_vs19Entities1 bullshit = new book_vs19Entities1();
    string exception = "";
    if (Session["excp"] != null)
    {
        exception = Session["excp"].ToString();
    }


}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1 class="text-white">Üdvözöllek a Szalamandra könyvtárban.</h1>
    </div>
</body>
</html>
