@{
    book_vs19Entities1 bullshit = new book_vs19Entities1();
    string exception = "";
    if (Session["excp"] != null)
    {
        exception = Session["excp"].ToString();
    }


}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="container-fluid">
    <div>
        <h1 class="text-white">Üdvözöllek a Szalamandra könyvtárban.</h1>
        <div class="row">
            <div class="text-white col-lg-6 col-12 bg-dark bg-opacity-25 rounded-4 border border-dark border-opacity-10 px-3"  >
                Ha szeretne solgáltatásunkat igénybevenni kérjük jöjjön be könytárunkba. 
                Ahol személyesen tudunk önnek olvasűkártyát csinálni.<br>
                Ennek elönyei:
                <ol class="shadow">
                    <li>bejelntkezés</li>
                    <li>Könyvek ki kölcsönzése</li>
                    <li>Könyvek lefoglalása</li>
                    <li>Kikölcsönzött könyvek visszavételi határidejének ellenörzése</li>
                </ol>

            </div>
            <div class="text-white col-lg-6 col-12 bg-dark bg-opacity-25 rounded-4 border border-dark border-opacity-10 px-3">
                jelentkezz be a használathoz. <br>
                példa fiokok:<br>
                admin Adminocska<br>
                worker jfdkslss<br>
                valaki 123
            </div>
        </div>

        
    </div>
</body>
</html>
