@{
    book_vs19Entities1 bullshit = new book_vs19Entities1();
    string exception = "";
    if (Session["excp"] != null)
    {
        exception = Session["excp"].ToString();
    }


}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="container-fluid">
    <div>
        <div style="height:100px"></div>
        <h1 class="text-warning shadow align-self-center pt-5 text-center" >Üdvözöllek a Szalamandra könyvtárban!</h1>
        <h4 class="text-warning shadow align-self-center mt-5 text-center mb-5" >
            Ha szeretné szolgáltatásunkat igénybevenni, kérjük, jöjjön be könytárunkba,
            ahol személyesen tudunk önnek olvasókártyát készíteni.
        </h4>
        <div class="row">
            <div class=" col-lg-6 col-12 ">
                <div class="text-black bg-white bg-opacity-100 rounded-2 border border-dark border-opacity-10 px-3 m-3 h-100 h5">
                   <div class="pt-3 pb-3"> <strong> A könyvtárunk szolgálatatásai  </strong> </div>
                    <ol>
                        <li>Bejelentkezés</li>
                        <li>Könyvek kikölcsönzése</li>
                        <li>Könyvek lefoglalása</li>
                        <li>Kikölcsönzött könyvek visszavételi határidejének ellenőrzése</li>
                    </ol>
                </div>
                

            </div>
            <div class="col-lg-6 col-12 ">
                <div class="text-black bg-white bg-opacity-100 rounded-2 border border-dark border-opacity-10 px-3 m-3 h-100 h5">
                    <div class="pt-3 pb-3"> <strong> Jelentkezz be a használathoz! </strong> </div>
                    <ul class="">
                        <li> <strong> Példa fiókok</strong>:</li>
                        <li>admin Adminocska </li>
                        <li>worker jfdkslss </li>
                        <li> valaki 123</li>
                    </ul>                   
                </div>

            </div>
        </div>


    </div>
</body>
</html>
