@{
    book_vs19Entities1 bullshit = new book_vs19Entities1();
    string exception = "";
    if (Session["excp"] != null)
    {
        exception = Session["excp"].ToString();
    }


}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="container-fluid">
    <div>
        <h1 class="text-white">Üdvözöllek a Szalamandra könyvtárban.</h1>
        <div class="text-white">
            jelentkezz be a használathoz. <br>
            példa fiokok:<br>
            admin Adminocska<br>
            worker jfdkslss<br>
            valaki 123
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
