@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div style="height:100px"></div>
        <h1>Sugó</h1>
        <div>jelenleg üres </div>

    </div>
</body>
</html>
