@*@{
    Layout = null;
}*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @if (Session["username"] == null)
    {
        <div>
            veeemo <br />
            @Html.ActionLink("Bejelentkezés", "Secnd");
        </div>
    }
    else
    {
        <div>
            username: <br />
            @(Session["username"] as string) <br>
            @Html.ActionLink("Bejelentkezés", "Secnd");
        </div>
    }

</body>
</html>
