@{
    //Layout = null;

    //string Regist;
    //Regist = Request["RegYet"];
    //User_sus urugay = new User_sus();
    //urugay.Username = Request["Uname"];
    //urugay.Userpassword = Request["Upp"];
    //Session["username"] = (object) urugay;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="bg-warning text-white">
    <div>
       
        <form action="LoginUser" method="post">
            <section class="h-100 h-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-start align-items-center h-100">
                        <div class="col-lg-8 col-xl-6">
                            <div class=" rounded-3">

                                <div class="card-body p-4 p-md-5">
                                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-white">Jelentkezz be!</h3>

                                    <div class="form-outline mb-4 text-white">
                                        <label>Felhasználónév</label> <input type="text" name="Uname" placeholder="fiók név/email" required />
                                    </div>
                                    @*<div class="form-outline mb-4 text-white" ">
            <label>E-mail cím</label> <input type="email" name="mail" required />
        </div>*@
                                    <div class="row">

                                        <div class="col-md-6 mb-4 text-white" ">
                                            <label>jelszó</label> <input type="password" name="Upp" required />
                                        </div>

                                    </div>

                                    <input type="submit" value="Bejelentkezek" class="submit" />
                                    <p class="text-white">@Html.ActionLink("Mégse", "start", "Default", new { area = "" }, new { @class = "navbar-brand" })</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</body>
</html>
