@{
    //Layout = null;

    //string Regist;
    //Regist = Request["RegYet"];
    //User_sus urugay = new User_sus();
    //urugay.Username = Request["Uname"];
    //urugay.Userpassword = Request["Upp"];
    //Session["username"] = (object) urugay;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="bg-warning text-dark">
    <div>
        <p>Log in with your Logins!</p>
        <form action="LoginUser" method="post">
            <label>User name</label> <input type="text" name="Uname" placeholder="username or mail"/> <br />
            <label>Password</label> <input type="password" name="Upp" placeholder="password"/> <br />
            <input type="checkbox" name="RegYet" />
            <label> I don't have an account</label> <br />
            <input type="submit" value="Submit" class="submit" />
        </form>
        <a href="Index">mégse</a>
    </div>
</body>
</html>
