@{
    Layout = null;

    string Regist;
    Regist = Request["RegYet"];
    user urugay = new user();
    urugay.Username = Request["Uname"];
    urugay.Userpeeword = Request["Upp"];
    Session["username"] = (object) urugay;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Log in with your Logins!</p>
        <form action="LoginUser" method="post">
            <label>User name</label> <input type="text" name="Uname" placeholder="username or mail"/> <br />
            <label>Password</label> <input type="password" name="Upp" placeholder="password"/> <br />
            <input type="checkbox" name="RegYet" />
            <label> I don't have an account</label> <br />
            <input type="submit" value="Submit" class="submit" />
        </form>
            <p>@Regist</p>
        <a href="Index">mittudomén</a>
    </div>
</body>
</html>
