@{
    List<Log> logok = new List<Log>();
    using (book_vs19Entities1 bullshit = new book_vs19Entities1())
    {
        logok = bullshit.Log.ToList();
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="container">
    <header>
        <h1 class="float-end text-white">Jelenleg: Log</h1>
    </header>
    <div>
        <table class="table table-bordered text-white">
            <thead>
            <td> Tettes</td>
            <td> Időpont</td>
            <td> tevékenység</td>
            <td> Mivel/Kivel</td>
            </thead>
            <tbody>
                @foreach (var item in logok)
                {
                    <tr>
                        <td> @item.who</td>
                        <td> @item.when</td>
                        <td> @item.what</td>
                        <td> @item.whom</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
