@{
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <h1 class="float-end text-white">Jelenleg: Főoldal</h1>
    </header>
    <div class="container mt-3 text-white">
        <h3>Könyvek keresése</h3>
        <p>A szépirodalmi művektől a ponyvaregényekig.</p>
    </div>
    <div class="container mt-3 text-white">
        <p>Könyvek keresése a megadott szempont alapján:</p>
        <div class="input-group mb-3">
            <button type="button" class="btn btn-primary dropdown-toggle" id="searchType" data-bs-toggle="dropdown">
                Szempont
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Szerző</a></li>
                <li><a class="dropdown-item" href="#">Cím</a></li>
                <li><a class="dropdown-item" href="#">ISBN/ISSN</a></li>
                <li><a class="dropdown-item text-secondary">Tárgyszó</a></li>
                <li><a class="dropdown-item text-secondary">Kulcsszó</a></li>

            </ul>
            <input type="text" class="form-control" placeholder="Könyvek és időszaki kiadványok keresése" id="livesearchtags">
            <button class="btn btn-success" type="submit" id="searchbutton">Keresés</button>
        </div>
    </div>
    <script>

        $(".dropdown-toggle").next(".dropdown-menu").children().on("click", function () {
            $(this).closest(".dropdown-menu").prev(".dropdown-toggle").text($(this).text());
        })
        document.getElementById("searchbutton").addEventListener('click', () => {
            LiveSearch();
        });
        function LiveSearch() {
            //Get the input value
            let value = document.getElementById('livesearchtags').value;
            let type = document.getElementById('searchType').innerText;
            $.ajax({
                url: "/Default/SetSession",
                type: "POST",
                data: { 'name': "LastSearch", 'value': value },
                success: function () {

                    $.ajax({
                        url: "/Default/SetSession",
                        type: "POST",
                        data: { 'name': "LastType", 'value': type },
                        success: function () { },
                        error: function () { alert("error"); }
                    });
                },
                error: function () { alert("error"); }
            });

            $.ajax({
                url: "/Default/SetSession",
                type: "POST",
                data: { 'name': "FirstSearch", 'value': "true" },
                success: function () {
                },
                error: function () { alert("error"); }
            });

            if (type == "Cím") {
                window.location.replace("/Default/Index");
            }
            else if (type == "Szerző") {
                window.location.replace("/Default/Index");
            }
            else if (type == "ISBN/ISSN") {
                window.location.replace("/Default/Index");
            }

            //genevent();
        }
    </script>
</body>
</html>
