@{
   // Layout = null;

    string Regist;
    Regist = Request["RegYet"];


}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="container-fluid">
    <header>
        <h1 class="float-end text-white">Jelenleg: Regisztrálás</h1>
    </header>
    <div class=" container">
        <form action="CreateUser" method="post">
            <section class="h-100 h-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-8 col-xl-6">
                            <div class=" rounded-3">
                                <table class="text-white">
                                    <tr>
                                        <td> <label>Felhasználónév:</label></td>
                                        <td> <input type="text" name="Uname" required /> </td>
                                    </tr>
                                    <tr>
                                        <td> <label>E-mail cím:</label> </td>
                                        <td> <input type="email" name="mail" required /> </td>
                                    </tr>
                                    <tr>
                                        <td> <label>Tel:</label> </td>
                                        <td> <input type="tel" name="phone" required /> </td>
                                    </tr>
                                    <tr>
                                        <td> <label>Jelszó:</label> </td>
                                        <td> <input type="password" name="Upp" required /> </td>
                                    </tr>
                                    <tr>
                                        <td> <label>Jelszó megerősítése:</label>  </td>
                                        <td> <input type="password" name="UppR" required /> </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </table>
                                    <input type="submit" value="Regisztrálás" class="submit" />
                                    <p class="text-white">@Html.ActionLink("Mégse", "indexpage", "Default", new { area = "" }, new { @class = "navbar-brand text-xl-center" })</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>


    </div>



</body>
</html>
