@{
    Layout = null;
}
@Model secmodel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        woomy
        @Html.ActionLink("Textlink", "Index");
        <a href="Index">mittudomén</a>
    </div>
</body>
</html>
