@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="bg-info container">
            <p>Tag felvétele</p>
            @*this is for rent_cards*@
            <form action="CreateReader" method="post" class="text-white bg-dark bg-opacity-50">
                <h3 class="opacity-100">Olvasó</h3>
                <label>Személyi igazolvány szám</label> <input type="text" name="szid" value="" autocomplete="off" /> <br />
                <label>Név</label> <input type="text" name="name" value="" autocomplete="off" /> <br />
                <label>tel</label> <input type="tel" name="phone" value="" autocomplete="off" /> <br />
                <label>Email cím</label> <input type="email" name="mail" value="" autocomplete="off" /> <br />
                <div class="col-md-6 mb-4 text-white" ">
                    <label>jelszó</label> <input type="password" name="Upp" required />
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline text-white" ">
                        <label>jelszó megerősítése</label> <input type="password" name="UppR" required />
                    </div>
                </div>
                <input type="submit" name="no" value="regisztrál" />

            </form>

            <a href="Index">mégse</a>
        </div>
</body>
    </div>
</body>
</html>
