@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container-fluid bg-danger text-warning">
    <div  >
            @*This is category  *@
           
        <form action="/" method="post" class="bg-info">
            <h3>Kategoria</h3> <br />
            <label>Name</label> <input type="text" name="name" value="" required /> <br />
            <input type="submit" name="no" value="sublimálás" />
        </form>
            <br />
           
            @*This is author  *@
    <form action="/" method="post" class="bg-success">
        <h3>Kiadó</h3>
        <label>Name</label> <input type="text" name="name" value="" required /> <br />
        <input type="submit" name="no" value="sublimálás" />
    </form>
            <br />
           
            @*This is writer  *@
    <form action="/" method="post" class="bg-warning">
        <h3>Író</h3>
        <label>Name</label> <input type="text" name="name" value="" required /> <br />
        <label>Élt(évszám)</label> <input type="text" name="life" value="" /> <br />
        <label>Egyéb</label> <input type="text" name="about" value="" /> <br />
        <input type="submit" name="no" value="sublimálás" />
    </form>
    </div>
</body>
</html>
