@{
    //Layout = null;
    konyv[] kv;
    Reader_Card[] cr;
    book_vs19Entities1 bullshit = new book_vs19Entities1();
        kv = bullshit.konyv.ToArray();
        cr = bullshit.Reader_Card.ToArray();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container-fluid bg-danger text-white">
    <div>
        <header>
            <h1 class="float-end text-white">Jelenleg: Állomány kezelés</h1>
        </header>
        <div>
            @*This is category  *@
            <div id="Addiptive">
                <h1 class="fixed-bottom bg-black bg-opacity-50 w-100 row">
                    <button class="col-6 btn btn-success" onclick="enableAdd()">Állomány növekedés</button>
                    @* <button class="col-4">Állomány modosÍtása</button> *@
                    <button class="col-6 btn btn-dark" " onclick="enableDell()">Állomány törlése</button>
                </h1>
                <h1>
                    Állomány növekedés
                </h1>
                <div class="bg-muted text-white bg-success bg-opacity-50">
                    <h2 class="opacity-100 ms-5">Könyv</h2>
                    @RenderPage("book_add.cshtml")
                </div>

                @*<form action="CreateWriter" method="post" class="bg-warning bg-opacity-50">
                    <h3 class="opacity-100">Író</h3>
                    <label>Szerző</label> <input type="text" name="name" value="" autocomplete="off" /> <br />
                    <label>Születési név(hatudjuk)</label> <input type="text" name="name2" value="" autocomplete="off" /> <br />
                    <label>Élt(évszám)</label> <input type="text" name="life" autocomplete="off" value="" placeholder="1000-2000" /> <br />
                    <label>Egyéb</label> <input type="text" name="about" value="" autocomplete="off" /> <br />
                    <input type="submit" name="no" value="hozzáadás" />
                </form>*@

                @*<form action="CreateCategory" method="post" class="bg-info bg-opacity-50">
                    <h3>Uj Kategoria</h3> <br />
                    <label>Megnevezés</label> <input type="text" name="name" value="" required /> <br />
                    <input type="submit" name="no" value="hozzáadás" />
                </form>*@

            </div>
        </div>

        <div id="Dell">
            @*This is category  *@
            <h1 class="fixed-bottom bg-black bg-opacity-50 w-100 row">
                <button class="col-6 btn btn-dark" onclick="enableAdd()">Állomány növekedés</button>
                @* <button class="col-4">Állomány modosÍtása</button> *@
                <button class="col-6 btn btn-success" onclick="enableDell()">Állomány törlése</button>
            </h1>
            <h1>
                Állomány kivétele
            </h1>

            <div class="bg-muted text-white bg-success bg-opacity-50">
                <h3 class="opacity-100">Könyv</h3>
                @RenderPage("book_delete.cshtml")
            </div>

            @*<form action="delWriter" method="post" class="bg-warning bg-opacity-50">
                <h3 class="opacity-100">Író</h3>
                <label>íroi Név</label> <input type="text" name="name" value="" autocomplete="off" /> <br />
                <label>Születési név(hatudjuk)</label> <input type="text" name="name2" value="" autocomplete="off" /> <br />
                <label>Élt(évszám)</label> <input type="text" name="life" autocomplete="off" value="" placeholder="1000-2000" /> <br />
                <label>Egyéb</label> <input type="text" name="about" value="" autocomplete="off" /> <br />
                <input type="submit" name="no" value="hozzáadás" />
            </form>*@

            @*<form action="delCategory" method="post" class="bg-info bg-opacity-50">
                <h3>Kategoria</h3> <br />
                <label>Megnevezés</label> <input type="text" name="name" value="" required /> <br />
                <input type="submit" name="no" value="hozzáadás" />
            </form>*@
        </div>



        @* This is author  *@
        @*<form action="CreateAuthor" method="post" class="bg-success bg-opacity-50">
            <h3>Kiadó</h3>
            <label>nÉV</label> <input type="text" name="name" value="" required /> <br />
            <label>Élt(évszám)</label> <input type="text" name="life" autocomplete="off" value="" placeholder="1000-2000" /> <br />
            <input type="submit" name="no" value="hozzáadás" />
        </form>
        <br />*@

        @*This is writer  *@

        <script>
            $(window).on('load', function () {
                $("#Dell").hide();
                $("#Addiptive").show();
            })
            function enableAdd() {
                $("#Dell").hide();
                $("#Addiptive").show();
            }
            function enableDell() {
                $("#Dell").show();
                $("#Addiptive").hide();
            }
        </script>



    </div>
    <a href="/Default/Index"><button class="btn btn-dark btn-block btn-lg"> vissza a föoldalra</button></a>
</body>
</html>
